* {
    box-sizing: border-box;
}

body {
    background-color: #ccaf3a;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#global-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    background-color: #9c762f;
    padding-bottom: 50px;
    padding-top: 50px;
    margin: auto;
}

#player-container,
#computer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccaf3a;
    padding: 0 50px 50px 50px;
    border: black solid 10px;
    border-radius: 20px;;
}

#player-buttons-container,
#computer-buttons-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}

h3 {
    font-size: 35px;
}

button {
    background-color: #c58c27;
    color: inherit;
    border: black solid 10px;
    border-radius: 20px;
    padding: 0px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

button:hover {
    border: #000000 solid 10px; 
    background-color: #8c5d02;
}

.computer-buttons {
    box-sizing: border-box;
    border: black solid 10px;
    border-radius: 20px;
    background-color: #c58c27;
}

